.leaderboard-container{
    display: flex;
    width: 78%;
    flex-direction: column;
    align-items: center;
}
.leaderboard-container h2{
    font-size: 1.2rem;
    padding: 20px 0;
}

.leaderboard-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: .9rem;
    backdrop-filter: blur(30px);
    position: relative;
    border: 1.5px solid rgb(233, 233, 233);
    /* border-radius: 10px; */
}

.bg-div{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    z-index: 1;
}
.lb-title{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.57);
    z-index: 5;
}

.lb-user-rank{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    padding: 5px 20px;
    z-index: 5;
    align-items: center;
    background-color: rgba(2, 90, 91, 0.284);
    border: 1px solid rgba(255, 255, 255, 0.752);
    box-shadow: inset 0 0 15px rgba(0, 255, 204, 0.478);
    font-weight: 550;
}

.lb-body {
    display: flex;
    flex-direction: column;
    z-index: 5;
    height: 204px;
    overflow: auto;
}

.lb-body::-webkit-scrollbar {
    display: none;
}

.lb-body {
    scrollbar-width: none;
}

.lb-body {
    -ms-overflow-style: none; 
}

.lb-row{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid rgba(13, 127, 110, 0.325);
    padding: 5px 20px;
    z-index: 10;
}

/* .lb-row:nth-child(1) {
    background: linear-gradient(160deg, #ffe100, transparent, transparent);
}


.lb-row:nth-child(2) {
    background: linear-gradient(160deg, #ffffffb3, transparent, transparent);
}

.lb-row:nth-child(3) {
    background: linear-gradient(160deg, rgba(181, 141, 55, 0.648), transparent, transparent);
} */

.lb-row:hover{
    background-color: rgba(0, 0, 0, 0.16);
}
.rank{
    min-width: 40px;
}
/* .rank span{
    background-color: #c5ae01;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
} */
.player{
    display: flex;
    align-items: center;
    min-width: 200px;
}
.player-pf{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 50%;
}
.player-pf img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.lb-row .player-name{
    overflow: hidden;       
    white-space: nowrap;     
    text-overflow: ellipsis; 
    display: block;       
    width: 100%;   
}
.point{
    min-width: 80px;
}
.time{
    min-width: 80px;
}

@media (min-width: 890px) and (max-width: 1200.999px) {

    .leaderboard-container{
        width: 85%;
    }

}

@media (max-width: 889.999px) {
    .leaderboard-container{
        width: 90%;
    }
}

@media (max-width: 578px) {
    .leaderboard-box .time{
        display: none;
        visibility: hidden;
    }

    .lb-title,
    .lb-user-rank,
    .lb-row{
        grid-template-columns: 1fr 2fr 1fr;
    }
}