.background-image {
    background-image: url('/images/landingpage-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100%; 
    width: 100%; 
    position: fixed;
    opacity: 0.3;
    overflow: hidden;
    z-index: -1;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}

.visible {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.15s ease-out;
}


.quiz-container{
    width: 78%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.quiz-container a{
    text-decoration: none;
    color: white;
}
.timer, .exist{
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 10;
}
.timer{
    top: -40px;
    left: 5px;
    transition: .15s ease-out;
}
.exist{
    top: -40px;
    right: 10px;
    cursor: pointer;
}

.timer span, 
.exist span{
    font-size: .85rem;
    margin-left: 2px;
}
.timer img,
.exist img{
    width: 30px;
}
.exist:hover{
    transform: scale(1.05);
}
.exist:active{
    transform: scale(.9);
}
.remain-question{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.question-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: inset 0 0 10px rgb(0, 255, 204);
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.222);
    backdrop-filter: blur(5px);
    filter: brightness(1.2);
    overflow: hidden;
}
.question-box .Q-img {
    max-width: 600px;
    width: 100%;
    min-width: 300px;
    height: 200px;
    /* border: 1px solid rgb(255, 255, 255); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.Q-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.question-box .question{
    margin-top: 20px;
    font-size: 1.1rem;
}
.answer-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 20px;
}

.answer {
    height: 65px;
    border: 1px solid rgb(255, 255, 255);
    padding: 15px;
    font-size: .95rem;
    line-height: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}

.answer .ans-A {
    font-weight: 600;
    margin-right: 10px;
}

.answer:hover {
    filter: brightness(1.3);
    border: 1px solid rgb(0, 225, 255); 
}

.answer.selected {
    background-color: rgba(2, 90, 91, 0.625);
    border: 1px solid rgb(0, 225, 255);
    box-shadow: inset 0 0 20px rgba(0, 255, 204, 0.775);
    font-weight: 550;
}

.next-btn {
    margin-top: 15px;
    padding: 12px 20px;
    width: 120px;
    border-radius: 5px;
    border: none;
    /* background: linear-gradient(90deg, rgb(16, 98, 118), rgb(18, 203, 187)); */
    background: rgb(5, 55, 55);
    color: white;
    border: 2px solid white;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(19, 116, 141, 0.8), 0 0 10px rgba(18, 114, 138, 0.6);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.next-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: rgba(0, 255, 234, 0.2);
    filter: blur(10px);
    transition: all 0.3s ease-in-out;
}

.next-btn:hover {
    color: #fff;
    box-shadow: 0 0 10px rgb(19, 229, 212), 0 0 10px rgba(0, 255, 234, 0.8);
}

.hidden {
    display: none;
}

#confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.overlay-box {
    background: rgb(5, 55, 55);
    padding: 40px 20px 30px 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.overlay-box button {
    width: 60px;
    margin: 15px 5px 0px 5px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#confirm-exit {
    background-color: #ff4d4d;
    color: white;
}

#cancel-exit {
    background-color: #4caf50;
    color: white;
}

@media (min-width: 890px) and (max-width: 1130.999px) {

    .quiz-container{
        width: 85%;
    }

}

@media (max-width: 889.999px) {
    .quiz-container{
        width: 90%;
    }

    .question-box .question{
        font-size: .98rem;
    }

    .answer-box .answer{
        font-size: .88rem;
    }

    .logo-div{
        transform: scale(.8);
    }
}

@media (max-width: 767.9px) {

    .question-box .Q-img {
        height: 150px;
    }

    .answer-box{
        grid-template-columns: 1fr;
        row-gap: 5px;
        margin-top: 10px;
    }

    .answer-box .answer{
        height: auto;
    }
}
@media (min-height: 541px) and (max-height: 668px){
    .container{
        padding-top: 80px;
    }
}

@media (min-height: 391px) and (max-height: 540px){
    .container{
        padding-top: 250px;
    }
}
@media (max-height: 390.9px){
    .container{
        padding-top: 320px;
    }
}